@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #08070b; }

main {
  display: grid;
  gap: 1.6rem;
  margin: 6.4rem auto;
  width: calc(min(calc(343 / 375 * 100%), 54rem)); }
  @media screen and (min-width: 48em) {
    main {
      margin: 13.3rem auto;
      gap: 3.1rem; } }

h1 {
  font-size: 1.6rem;
  text-align: center;
  color: #817d92; }

html {
  font-family: "JetBrains Mono", monospace;
  font-size: 62.5%;
  font-weight: bold; }
  @media screen and (max-width: 23.4em) {
    html {
      font-size: 50%; } }

.heading-1 {
  font-size: 3.2rem;
  line-height: calc(43 / 32); }

.heading-2 {
  font-size: 2.4rem;
  line-height: calc(31 / 24); }

.paragraph {
  font-size: 1.8rem;
  line-height: calc(23 / 18); }

.button {
  font-family: "JetBrains Mono", monospace;
  border: none;
  width: 100%;
  height: 5.6rem;
  background-color: #a4ffaf;
  margin-top: 1.6rem;
  cursor: pointer;
  transition: all 0.2s; }
  @media screen and (min-width: 48em) {
    .button {
      margin-top: 3.2rem; } }
  .button__icon {
    color: #18171f; }
  .button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #a4ffaf;
    color: #a4ffaf; }
  .button:hover .button__icon {
    fill: #a4ffaf; }

.characterLength {
  display: grid;
  gap: 1.8rem; }
  .characterLength__container {
    display: flex;
    justify-content: space-between; }
  .characterLength__label {
    color: #e6e5ea; }
  .characterLength__number {
    color: #a4ffaf; }
  .characterLength__range {
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 0.8rem;
    background-color: #18171f; }
    .characterLength__range::-webkit-slider-thumb {
      appearance: none;
      height: 2.8rem;
      width: 2.8rem;
      background-color: #e6e5ea;
      border-radius: 50%;
      transition: all 0.2s; }
      .characterLength__range::-webkit-slider-thumb:hover {
        background-color: #18171f;
        border: 2px solid #a4ffaf; }

.checkboxInclude {
  margin: 4.2rem 0 3.2rem 0;
  display: grid;
  gap: 1.6rem; }
  @media screen and (min-width: 48em) {
    .checkboxInclude {
      gap: 2rem; } }
  .checkboxInclude__container {
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media screen and (min-width: 48em) {
      .checkboxInclude__container {
        gap: 2.4rem; } }
  .checkboxInclude__checkbox {
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    border: 2px solid #e6e5ea;
    transition: all 0.2s; }
    .checkboxInclude__checkbox:hover {
      cursor: pointer;
      border: 2px solid #a4ffaf; }
    .checkboxInclude__checkbox:checked {
      background-image: url(../../starter-code/assets/images/icon-check.svg);
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #a4ffaf;
      border: none; }
  .checkboxInclude__label {
    color: #e6e5ea; }

.strength {
  padding: 1.6rem;
  background-color: #18171f;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .strength__heading {
    color: #817d92; }
  .strength__rating-container {
    display: flex;
    gap: 1.6rem; }
  .strength__rating-label {
    color: #e6e5ea; }
  .strength__rating {
    display: flex;
    gap: 0.8rem; }
    .strength__rating--bar {
      height: 100%;
      width: 1rem;
      border: 2px solid #e6e5ea; }

.too-weak {
  background-color: #f64a4a;
  border: none; }

.weak {
  background-color: #fb7c58;
  border: none; }

.medium {
  background-color: #f8cd65;
  border: none; }

.strong {
  background-color: #a4ffaf;
  border: none; }

.passwordDisplay {
  background-color: #24232c;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .passwordDisplay__password {
    color: #817d92; }
  .passwordDisplay__container {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .passwordDisplay__message {
    color: #a4ffaf;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.2s; }
  .passwordDisplay__copy {
    fill: #a4ffaf;
    transition: all 0.2s; }
  .passwordDisplay__copy-button {
    height: 3rem;
    border: none;
    background-color: transparent; }
    .passwordDisplay__copy-button > svg {
      height: 3rem; }
    .passwordDisplay__copy-button:hover {
      cursor: pointer; }
    .passwordDisplay__copy-button:hover .passwordDisplay__copy {
      fill: #e6e5ea; }

.passwordInput {
  background-color: #24232c;
  padding: 1.6rem; }
