.passwordDisplay {
  background-color: $color-charcoal;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordDisplay__password {
  color: $color-white;
}

.passwordDisplay__copy {
  height: 2rem;
}
