.passwordDisplay {
  background-color: $color-charcoal;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__password {
    color: $color-gray;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__message {
    color: $color-lime;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.2s;
  }

  &__copy {
    fill: $color-lime;
    transition: all 0.2s;
  }

  &__copy-button {
    height: 3rem;
    border: none;
    background-color: transparent;

    & > svg {
      height: 3rem;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .passwordDisplay__copy {
      fill: $color-white;
    }
  }
}
