.checkboxInclude {
  margin: 4.2rem 0 3.2rem 0;
  display: grid;
  gap: 1.6rem;

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__checkbox {
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    border: 2px solid $color-white;

    &:checked {
      background-image: url(../../starter-code/assets/images/icon-check.svg);
      background-size: cover;
      background-position: center;
      background-color: $color-lime;
      border: none;
    }
  }

  &__label {
    color: $color-white;
  }
}
